**DS_Store

# Ignore tous les dossiers __pycache__ et les fichiers compilés Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore les environnements virtuels
venv/
env/
.venv/

# Ignore les fichiers de logs
*.log
logs/
debug.log

# Ignore les fichiers sensibles
.env
.env.local
*.pem
*.key

# Ignore les fichiers et dossiers spécifiques aux IDE/éditeurs
.vscode/
.idea/
*.swp
*.swo

# Ignore les fichiers générés par Jupyter Notebook
.ipynb_checkpoints/
**/.ipynb_checkpoints/
**/notebooks/
**/notebooks/.ipynb_checkpoints/